.bg-pink {
  background: #f5f6fa;
}
p {
  margin: 0;
}

nav {
  position: relative;
  z-index: 10;
}
/* Hide spinner arrows on number-type inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* Hide the spinner arrows in WebKit browsers */
  appearance: none;
  /* Hide the spinner arrows in other browsers */
}
.btn {
  border-radius: 50px;
  background: #2762bf;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  padding: 8px 24px;
  width: 216px;
}

a {
  text-decoration: none;
}

.btn:hover {
  border: 1px solid #3375d9;
  color: #2762bf !important;
  background: transparent !important;
}

.btn-trans {
  border: 1px solid #3375d9;
  color: #2762bf;
  background: transparent !important;
}

.btn-trans:hover {
  background: #2762bf !important;
  color: #fff !important;
}

.title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #1a1a1a;
}

.title p {
  margin: 16px;
}

#navbar .btn,
.modal-footer .btn {
  all: unset;
  height: 8px;
  padding: 8px 32px;
  border-radius: 50px;
  border: 1px solid #2762bf;
  background: #2762bf;
  color: #fff;
}

#navbar .btn-trans {
  background: transparent !important;
  color: #2762bf;
}

#navbar .btn-trans:hover {
  background: #2762bf !important;
  color: #fff !important;
}

#navbar {
  background: #e9f2ff;
  box-shadow: 0px 1px 2px 0px #0000000d;
  font-weight: 500;
}

.nav-item .active {
  color: #0063f7 !important;
}

#navbar .nav-link:hover,
#navbar .dropdown-menu a:hover {
  background: unset !important;
  color: #0063f7 !important;
}

#navbar .nav-item {
  color: #1a1a1a;
  margin: auto;
}

#navbar a {
  padding-right: 8px;
}

#navbar .dropdown-menu {
  padding: 12px;
  border: none !important;
  border-radius: 8px;
  box-shadow: 0px 10px 38px -5px #0000001a;
  background: #fff;
  color: #3e3e3e;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}

#navbar .refer {
  padding-right: 10px;
  position: relative;
}

#navbar .refer a {
  background-image: linear-gradient(90deg, #2f2c9f 0%, #b745ca 100%) !important;
  /* Adjust colors as needed */
  -webkit-background-clip: text;
  /* For Safari */
  background-clip: text;
  color: transparent;
}

#navbar .refer img {
  position: absolute;
  right: 0;
  top: 10px;
}

#navbar .border-left {
  border-left: 1px solid #dddee0;
  margin-left: 12px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.modal-content {
  padding: 18px 20px !important;
  border-radius: 16px;
  border: 1px;
}

.modal-header {
  border-bottom: none !important;
  padding: unset;
  padding: 0 20px;
}

.modal-header h4 {
  font-weight: 600;
  line-height: 36px;
  color: #1a1a1a;
}

.modal-footer {
  all: unset;
}

.modal-footer .btn {
  height: 25px;
  width: 80%;
}

.form-control:focus {
  border-color: none;
  box-shadow: unset;
}

#myModal textarea {
  height: 113px;
  resize: none;
}

#footer {
  background: #05274c;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

#footer .border-tb {
  border-top: 1px solid #586e87;
  border-bottom: 1px solid #586e87;
  padding: 32px 0;
}

#footer .mb-8 {
  margin-bottom: 52px;
}

#footer .social-icon a {
  all: unset;
}

#footer h5 {
  font-size: 20px;
  font-weight: 700;
}

/* PERSONALITY TESTS

     /* PERSONAL DETAILS STYLES */
.otp-text {
  cursor: pointer;
}
.details-container {
  width: 731px;
  border-radius: 24px;
  gap: 10px;
  box-shadow: 0px 3px 30px 0px #0000001a;
  border: 1px solid #dddee0;
  margin-top: 139px;
  margin-bottom: 100px;
}

.details-container div {
  width: 487px;
  gap: 45px;
}

.details-container h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #05274c;
}

.details-container div form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.details-container div form input {
  border: 1px solid #cdcdd0;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  padding-left: 4%;
}

/* WELCOME PAGE */

.welcome-container {
  width: 813px;
  height: 619px;
  border-radius: 24px;
  gap: 10px;
  box-shadow: 0px 3px 30px 0px #0000001a;
  border: 1px solid #dddee0;
  margin-top: 139px;
  margin-bottom: 100px;
}

.welcome-container div {
  display: flex;
  flex-direction: column;
  width: 527px;
  gap: 46px;
}

.welcome-container h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #05274c;
  text-align: center;
}

.welcome-container figure {
  width: 527px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  color: #363636;
  text-align: center;
}

/* QUESTIONS */

/* CONGRATULATIONS */
.congrats-container {
  width: 813px;
  height: 553px;
  border-radius: 24px;
  gap: 10px;
  box-shadow: 0px 3px 30px 0px #0000001a;
  border: 1px solid #f5f5f5;
  margin-top: 112px;
  margin-bottom: 100px;
}

.congrats-container > :first-child {
  display: flex;
  flex-direction: column;
  height: 385px;
  align-self: center;
}

.congrats-container .congrats-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 22px;
}

.congrats-content h5 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color: #05274c;
}

.congrats-content p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #67676a;
  text-align: center;
}

/* WHEN THERE IS A TIE */

.tie-container {
  width: 813px;
  height: 653px;
  border-radius: 24px;
  gap: 10px;
  box-shadow: 0px 3px 30px 0px #0000001a;
  border: 1px solid #f5f5f5;
  margin-top: 108px;
  margin-bottom: 100px;
}

.tie-container > :first-child {
  width: 509px;
  height: 437px;
  margin-top: 46.1px;
  gap: 30px;
}

.tie-container > :first-child figure {
  width: 509px;
  height: 306px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tie-container > :first-child figure img {
  width: 70px;
  height: 70px;
  align-self: center;
}

.tie-container > :first-child figure h4 {
  font-size: 28px;
  font-weight: 700;
  color: #05274c;
  line-height: 42px;
  text-align: center;
}

.x-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 197px;
}

.tie-container > :first-child figure .text {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #67676a;
  text-align: center;
}

.hidden-x {
  color: #367ce4;
  line-height: 30px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.button-container {
  width: 466px;
  gap: 5px;
  display: flex;
  height: 48px;
  margin-top: 30px;
}

.button-container button {
  width: unset;
}

.border-btn {
  border: 2px solid #2762bf;
  border-radius: 25px;
  color: #2762bf;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
}

@media (max-width: 768px) {
  .details-container,
  .welcome-container {
    margin-top: 75px;
    width: 100%;
  }

  .details-container div,
  .welcome-container div {
    width: 75vw;
  }

  .welcome-container {
    height: 750px;
  }

  .welcome-container div {
    gap: 28px;
  }

  .welcome-container figure {
    width: 100%;
    font-size: 15px;
  }

  .congrats-content p {
    padding-left: 10px;
  }

  .tie-container {
    width: 90vw;
  }

  .tie-container > :first-child {
    width: 100%;
  }

  .tie-container > :first-child figure {
    width: 100%;
  }

  .button-container {
    width: 100%;
    flex-direction: column;
    place-items: center;
    margin-top: 30px;
    gap: 15px;
  }

  .text {
    width: 80vw;
    place-self: center;
  }
}

.step {
  display: none;
}

.step.active-form {
  display: flex;
}

/* QUESTION FORM PAGE */

.step {
  display: none;
}

.step.active-form {
  display: flex;
}

.question-container {
  display: flex;
  flex-direction: column;
  width: 813px;
  margin-top: 32px;
  gap: 48px;
}

.question-box {
  width: 100%;
  height: 339px;
  border: 1px solid #cdcdd0;
  border-radius: 24px;
  box-shadow: 0px 3px 15px 0px #0000000d;
}

.question-box > :first-child {
  height: 255px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.question-box div h6 {
  width: 537px;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #05274c;
  text-align: center;
}

.question-box div h4 {
  font-size: 25px;
  width: 537px;
  line-height: 42px;
  text-align: center;
  font-weight: 700;
  color: #05274c;
}

.question-box div figure {
  width: 565px;
  height: 86px;
  display: flex;
  place-items: center;
  /* -content: space-between; */
  gap: 40px;
  margin-top: 10px;
}

.radio {
  font-size: 20px;
  line-height: 30px;
  color: #363636;
  vertical-align: middle;
  display: inline-block;
  font-weight: 500;
  gap: 24px;
  text-align: center;
  position: relative;
  cursor: pointer;
  place-items: center;
}

.radio + .radio {
  margin-left: 20px;
}

.radio input[type="radio"] {
  display: none;
}

.radio span {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #808185;
  position: absolute;
}

.radio p {
  margin-top: 48px;
}

.radio span:after {
  content: "";
  height: 25px;
  width: 25px;
  background-color: #367ce4;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  cursor: pointer;
}

.radio input[type="radio"]:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
}

.question-container .container-box {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  height: 163px;
}

.question-container .container-box .btn-box {
  display: flex;
  justify-content: space-between;
}

.question-container .container-box button {
  width: 385px;
  height: 48px;
  text-align: center;
}

.load-container {
  display: flex;
  width: 800px;
  gap: 16px;
}

.load-container .load {
  display: flex;
  flex-direction: column;
  height: 35px;
  width: 120px;
  gap: 4px;
}

.load-container .active div {
  background-color: #367ce4;
  width: 120px;
  height: 10px;
  border-radius: 16px;
}

.load-container p {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #363636;
}

.load-container .inactive div {
  width: 120px;
  height: 10px;
  border-radius: 16px;
  background-color: #e6eefc;
}

/* REFERRAL */
img {
  border-radius: unset !important;
}

input:focus {
  outline: none;
}

.referralbox {
  width: 650px;
  height: 477px;
  border: 1px;
  box-shadow: 0px 3px 10px 0px #0000001a;
  display: flex;
  flex-direction: row;
  margin-top: 82px;
  border-radius: 20px;
  margin-bottom: 20%;
}

.referbox {
  display: flex;
  flex-direction: column;
  width: 339px;
  height: 220px;
  margin-top: 77px;
  margin-left: 140.5px;
  gap: 16px;
  align-items: center;
}

.tick-box {
  width: 100px;
  height: 100px;
}

.referralbox :nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.verify-email :nth-child(1) {
  line-height: 42px;
  color: #1a1a1a;
  font-size: 28px;
  font-weight: 800;
}

.verify-email :nth-child(2) {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 27px;
  color: #67676a;
}

#consentCheckbox {
  width: 20px;
}

.verify-container {
  width: 620px;
  height: 477px;
  border: 1px;
  box-shadow: 0px 3px 10px 0px #0000001a;
  display: flex;
  flex-direction: row;
  margin-top: 82px;
  border-radius: 20px;
  margin-bottom: 20%;
}

.verify-box {
  width: 466px;
  height: 354px;
  margin-left: 70.5px;
  align-items: flex-start;
}

.verify-box button {
  height: 48px;
  border-radius: 50px;
  background-color: #2762bf;
  gap: 8px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 20px;
  align-content: center;
  place-content: center;
  place-self: center;
  width: 90%;
}

.verify-box h6 {
  font-size: 27px;
  font-weight: 800;
  color: #1a1a1a;
  line-height: 27px;
  place-self: flex-start;
}

.verify-box p {
  font-weight: 500;
  color: #67676a;
  place-self: center;
}

.input-container {
  width: 466px;
  height: 500px;
  gap: 2px;
}

.otp-input {
  border: 1px solid rgb(181, 179, 179);
  width: 70px;
  height: 48px;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
}

.progress-b {
  width: 120px;
}

.progress-b span {
  display: block;
  width: 120px;
  height: 10px;
  gap: 0px;
  border-radius: 16px;
  background: #e6eefc;
}
.progress-b span.full {
  background: #367ce4;
}
.progress-b p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #363636;
  text-align: center;
}

.tied-courses {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #367ce4;
}

.text2 {
  color: #000000b5 !important;
  font-size: 16px !important;
}

@media (max-width: 769px) {

  .referralbox, .verify-container {
    width: 100%;
  }
  .verify-container {
      padding: 20px;

    }
    .referbox {
      width: 100%;
      margin-left: unset;
      padding: 10px;
    }
        .otp-input {
          width: 15%;
          height: 44px;
        }

                .verify-box button {
                  width: 100%;
                }
                .otp-text {
                  display: none;
                }
  h4 {
    font-size: 24px !important;
    text-align: center;
  }

  p {
    font-size: 16px !important;
  }
    .verify-box h6, .verify-email :nth-child(1), .congrats-content h5 {
      font-size: 24px !important;
    }
        .welcome-container {
          height: auto;
          padding-left:20px ;
          padding-right:20px ;
        }

        .welcome-container div {
          width: unset;
        }

                .question-box> :first-child, .question-box, 
                
                .question-box div figure {
                  height: auto;
                }

                                .question-box div figure {
                                  display: block !important;
                                }
  .progress-b span {
    width: 44px;
    height: 10px;
  }

  .progress-b p {
    text-align: unset;
  }
  .question-container {
    width: 90vw;
    margin-left: 0;
  }

  .question-box {
    width: 90vw;
    padding: 20px;
  }

  .question-container .container-box a button {
    width: 100px;
    place-self: center;
    align-self: center;
  }

  .load-container {
    width: 90vw;
  }

  .load-container .active div {
    width: 12vw;
  }

  .load-container .inactive div {
    width: 12vw;
  }

  .question-container figure {
    max-width: 90vw;
    padding-left: 9px;
    align-items: center;
    padding: unset !important;
  }

  .radio {
    vertical-align: middle;
  }

  .radio p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 60px;
    line-height: 15px;
    font-size: 12px;
    white-space: pre-line;
  }

  .radio span {
    width: 20px;
    height: 20px;
    position: absolute;
  }

  .question-box div h4 {
    width: 80vw;
    line-height: 27px;
    font-size: 20px !important;
  }

    .radio {
      text-align: left;
      place-items: unset;
    }

        .radio p {
          max-width: unset;
          margin-left: 30px;
          margin-top: 25px;
        }

                .radio span {
                  margin-top: 25px;
                }
}
